
<%= link_to airbus_path do %>
  <div class="Airbus">
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/5/59/Airbus_A300-600ST_Airbus_Industries_(AIB)_Beluga_2_F-GSTB_-_MSN_751_(9738915761).jpg", class: 'thumbnail' %>
  </div>
<%end%>
<%= link_to privatejet_path do %>
  <div class="PrivatePlane">
    <%= image_tag "http://jetlux.com/images/Private-Jet-Dental-Holidays.png", class: 'thumbnail' %>
  </div>
<% end %>
<%= link_to boeing747_path do %>
  <div class="Boeing">
    <%= image_tag "http://www.britishairways.com/assets/images/information/about-ba/fleet-facts/boeing-747-400/photo-gallery/750x500-boeing747-400-2.jpg", class: 'thumbnail'%>
  </div>
<% end %>
